# Setting the traefik version. Makes future updates easy and convenient
TRAEFIK_VERSION=v2.8

# Enter a VALID email address below to configure LetsEncrypt and receive certificate expiration notifications
ACME_EMAIL=your_email_address_here
